body {
    background-color: black;
}

#card {
    box-sizing: border-box;
    background-color: goldenrod;
    width: 375px;
    height: 360px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    border-radius: 20px;
}

#user {
    display: block;
    margin-left: 25px;
    width: 250px;
    height: 25px;
}

#user-label{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#password {
    display: block;
    margin-left: 25px;
    width: 250px;
    height: 25px;
}

#password-label {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#password-recover {
    display: block;
    margin-left: 180px;
    margin-top: 5px;
}

#buttons {
    text-align: right;
    margin-top: 20px;
    margin-right: 40px;
}

#register-btn {
    background-color: goldenrod;
    color: black;
    font-size: 15px;
}

#login-btn {
    background-color: goldenrod;
    color: black;
    font-size: 15px;
}

#password-recover {
    background-color: goldenrod;
    color: black;
    font-size: 15px;
}

.olho {
    cursor: pointer;
    top: 230px;
    left: 250px;
    position: absolute;
    width: 30px;
}

h1 {
    position: relative;
    margin-left: 25px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 15pt;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

